@media only screen and (max-width: 460px) {
  #reyicnmob {
    margin-top: 20px;
  }
}
.Reyflacicn {
   width: 25px;
   margin-right: 10px;
}
.srcic {
  position: relative;
  top: 5px;
}
#usrdetp2{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.ftreycoverimg {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#nopdng {
  padding-top: 0 !important;
}
