@media only screen and (max-width: 460px) {
  #reyicnmob {
    margin-top: 20px;
  }
}
.Reyflacicn {
   width: 25px;
   margin-right: 10px;
}
.srcic {
  position: relative;
  top: 5px;
}
#usrdetp2{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ftreycoverimg {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#nopdng {
  padding-top: 0 !important;
}
.pnntpstbtn1 {
  width: 100%;
  height: 20%;
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid #afb0c0;
}
.pnntpstbtn1:hover {
  background-color: #40d04f !important;
  border: 1px solid #40d04f;
}