.bnnr {
  background: url("img/banner/banner-bg.png") no-repeat 50%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s;
}
.container1 {
  transform: translate(110px, 0px);
  transition: transform 0.4s ease-in-out 0s;
  margin-left: auto;
  margin-right: auto;
}
.container2 {
  transform: translate(-110px, 0px);
  transition: transform 0.4s ease-in-out 0s;
  margin-left: auto;
  margin-right: auto;
}
.passivePostop {
  position: absolute;
  z-index: 9999;
  bottom: 54px;
  left: -16px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 20px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}

.activePostop {
  position: absolute;
  z-index: 9999;
  bottom: 54px;
  left: -16px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}
.bnnrinp {
  width: 80% !important;
  margin-left: 20px;
}

.postBtns {
  display: flex;
  margin-left: 20px;
  width: 80%;
  justify-content: space-between;
}
.postBtn {
  background-color: #2f3749 !important;
  box-shadow: none !important;
  margin-bottom: 20px;
  height: 40px;
  width: 30%;
}
.prmtxt {
 padding-top: 15px;
}
.postBtn:hover {
  background-color: #40d04f !important;
  color: black !important;
}
.psticncontainer {
  display: flex;
  justify-content: space-evenly;
}
#inpcontainer {
  height: 200px;
  overflow: auto;
}
.inplist {
  display: flex;
  align-items: center;
}
.inplist2 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  bottom: 20px;
}

.inplsticn {
  margin-left: 40px;
  cursor: pointer;
}
.inplsticn:hover path {
  fill: #40d04f;
}
.inplsticn2:hover path {
  fill: #40d04f;
}
.fileExp {
  z-index: 9999;
  margin-left: -30px;
  position: absolute;
  width: 30px;
  opacity: 0;
}
.p {
  display: flex;
  justify-content: space-between;
  height: 50px !important;
}
.browsebtn {
  height: 50px !important;
  background-color: #40d04f !important ;
}
#brwsinp {
  height: 50px;
  background-color: red;
  z-index: 9999;
  position: relative;
  width: 80px;
  border-radius: 10px;
  left: 72%;
  top: -50px;
  cursor: pointer;
  opacity: 0;
}
.t {
  height: 160px;
}
#inpctrl {
  margin-top: 10px;
  height: 50px;
}
.parms {
  position: relative;
  top: 10px;
  background-color: #2f3749;
  z-index: 9999;
  border-radius: 10px;
}
.parmsitem {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.prmsnone{
  display: none;
}
.chktxt {
  padding-right: 10px;
}
