.bnnr {
  background: url("img/banner/banner-bg.png") no-repeat 50%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s;
}
.container1 {
  transform: translate(110px, 0px);
  transition: transform 0.4s ease-in-out 0s;
  margin-left: auto;
  margin-right: auto;
}
.container2 {
  transform: translate(-110px, 0px);
  transition: transform 0.4s ease-in-out 0s;
  margin-left: auto;
  margin-right: auto;
}
.passivePostop {
  position: absolute;
  z-index: 9999;
  bottom: 54px;
  left: -16px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 20px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}

.activePostop {
  position: absolute;
  z-index: 9999;
  bottom: 54px;
  left: -16px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}
.sf{
  z-index: 9999 !important;
}