.bnnr {
  background: url("img/banner/banner-bg.png") no-repeat 50%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s;
}
.container1 {
  transform: translate(110px, 0px);
  transition: transform 0.4s ease-in-out 0s;
  margin-left: auto;
  margin-right: auto;
}
.container2 {
  transform: translate(-110px, 0px);
  transition: transform 0.4s ease-in-out 0s;
  margin-left: auto;
  margin-right: auto;
}
.passivePostop {
  position: absolute;
  z-index: 9999;
  bottom: 54px;
  left: -16px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, 20px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}

.activePostop {
  position: absolute;
  z-index: 9999;
  bottom: 54px;
  left: -16px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}
.bnnrinp {
  width: 90% !important;
  margin: 20px;
}
.postBtns {
  display: flex;
  justify-content: space-evenly;
}
.postBtn {
  background-color: #21283b !important;
  box-shadow: none !important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2px;
  margin-bottom: 10px;
}
.postBtn:hover {
  background-color: #40d04f !important;
  color: black !important;
}
#psticn path {
  fill: #616a82;
  stroke-width: 200px;
}
#psticn path:hover {
  fill: white;
  stroke-width: 200px;
}
.psticncontainer{
  display: flex;
  justify-content: space-evenly;
}