.imadiv1 {
  z-index: -1;
  width: 42px;
  height: 45px;
  clip-path: polygon(2% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  position: absolute;
  margin-left: 2px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  background-image: url("/src/img/avatar/04.jpg");
  background-size: cover;
}
.avatarcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.avatarcontainer1 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
}
.avatarbadge {
  background-color: #1d2333;
  width: 28px;
  z-index: 2;
  top: 90px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  clip-path: polygon(2% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  position: absolute;
}
.avatarbadge div {
  background-color: #7750f8;
  clip-path: polygon(2% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: Bold;
}
.avatarbadge1 {
  background-color: #1d2333;
  width: 22px;
  z-index: 2;
  top: 25px;
  left: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  clip-path: polygon(2% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  position: absolute;
}
.avatarbadge1 div {
  background-color: #7750f8;
  clip-path: polygon(2% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  width: 16px;
  height: 16px;
  text-align: center;
  color: white;
  font-size: 9px;
  font-family: Bold;
}
.can1 {
  position: absolute;
}
.can2 {
  position: absolute;
  z-index: 0;
}
.imadiv {
  z-index: -1;
  width: 77px;
  height: 77px;
  clip-path: polygon(2% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  position: absolute;
  margin-left: 61px;
  margin-top: 49px;
  display: flex;
  justify-content: center;
  background-image: url("/src/img/avatar/04.jpg");
  background-size: cover;
}
.mainav {
  background-color: transparent();
  position: absolute;
  z-index: 1;
  display: flex;
  top: -10px;
  align-content: center;
}
.mainav1 {
  background-color: transparent();
  position: absolute;
  z-index: 1;
  margin-top: 33px;
  margin-left: 5px;
  display: flex;
  top: -10px;
  align-content: center;
}
