//mini
.Avminiimg {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: 2px;
  z-index: 0;
  background-size: cover;
  clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 95%, 5% 75%);
}

.Avbordermini {
  left: -15px;
  top: -10px;
  width: 70px;
  position: relative;
  z-index: 1;
}
.avatarbadge {
  bottom: 37px;
  left: 28px;
  height: 14px;
  padding: 0;
  width: 14px;
  font-size: 10px;
  text-align: center;
  font-family: Bold;
  color: white;
  position: relative;
  z-index: 1;
}

//big
.avBig {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 180px;
  // background-color: red;
  height: 180px;
}
.Avbigimg {
  width: 90px;
  height: 90px;
  position: absolute;
  margin-top: 30px;
  margin-left: -62px;
  z-index: 0;
  background-size: cover;
  clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 95%, 5% 75%);
}
.Avborderbig {
  top: -10px;
  width: 170px;
  height: 170px;
  left: -20px;
  position: relative;
  z-index: 2;
}
.avatarbadgebig {
  height: 18px;
  padding: 0;
  top: 95px;
  left: -75px;
  width: 28px;
  text-align: center;
  font-family: Bold;
  color: white;
  position: relative;
  z-index: 2;
}
//story
.avstoryimg {
  width: 60px;
  top: 5px;
  height: 60px;
  position: absolute;
  margin-left: 7px;
  z-index: 0;
  background-size: cover;
  clip-path: polygon(5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 95%, 5% 75%);
}
.Avborderstory {
  left: -15px;
  top: -10px;
  width: 100px;
  position: relative;
  z-index: 1;
}
.avatarbadgestory {
  bottom: 45px;
  // background-color: red;
  left: 48px;
  height: 14px;
  padding: 0;
  width: 20px;
  font-size: 10px;
  text-align: center;
  font-family: Bold;
  color: white;
  position: relative;
  z-index: 1;
}