.cntrbar {
  width: 120px;
  height: 4px;
  background-color: #5538b5;
  border-radius: 5px;
}

.probar {
  width: 70%;
  height: 4px;
  background-color: #85e659;
  border-radius: 5px;
}

.passiveShp {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: 120px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -40px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.activeShp {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: 120px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.passiveFri {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: 80px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -40px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.activeFri {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: 80px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.passiveNot {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -40px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.activeNot {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: 30px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.passiveSet {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -40px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.activeSet {
  position: absolute;
  z-index: 9999;
  top: 64px;
  right: 10px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.menu-item-link-icon path {
  fill: #616a82;
}

.activeSrcdrp {
  z-index: 9999;
  margin-top: 430px;
  position: relative;
  width: 100% !important;
  margin-left: -100%;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}

.passiveSrcdrp {
  z-index: 9999;
  display: none;
  margin-top: 430px;
  position: relative;
  width: 100% !important;
  margin-left: -100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -40px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s,
    visibility 0.4s ease-in-out 0s;
}
// DOTSETTING
.passivePostsetting {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 9px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -20px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}
.activePostsetting {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 9px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}
.d {
  margin-left: 16px;
}
.wgtbtn {
  width: 100%;
}
.wgtfrm {
  width: 100%;
}
.promoimg {
  width: 100%;
  border-radius: 10px;
}
.sticky {
  top: 100px;
  position: sticky;
}
.hexagon {
  $hexagon-size: 100px;
  $hexagon-color-1: red;
  $hexagon-color-2: red;
  width: ($hexagon-size * 0.645);
  height: $hexagon-size;
  background-image: linear-gradient(90deg, $hexagon-color-1, $hexagon-color-2);
  border-radius: ($hexagon-size / 10);

  transform: rotate(30deg);

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit;
  }

  &:before {
    transform: rotate(60deg);
  }

  &:after {
    transform: rotate(-60deg);
  }
}
.pstdots path {
  fill: #616a82 !important;
}
.pstdots {
  position: absolute !important;
  right: 0 !important;
  cursor: pointer !important;
}

.pstdotsAct path {
  fill: white !important;
}
.pstdotsAct {
  cursor: pointer !important;
}
.actdodsset {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 9px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}
.pssdodsset {
  position: absolute;
  z-index: 9999;
  top: 30px;
  right: 9px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -20px);
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s,
    visibility 0.3s ease-in-out 0s;
}
