.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $color-secondary !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  .header-actions {
    display: flex;
    align-items: center;
    &.search-bar {
      width: 30%;
      .header-search-dropdown {
        width: 100%;
      }
    }
    .progress-stat {
      width: 110px;
    }
    .register-button {
      padding: 0 26px;
      margin: 0 30px;
    }
    .login-form {
      margin: 0 14px 0 12px;
      .button {
        width: 52px;
        height: 52px;
        flex-shrink: 0;
      }
    }
  }
  .header-brand {
    display: flex;
    align-items: center;
    .logo {
      margin-left: 26px;
    }
    .header-brand-text {
      margin-left: 26px;
      color: $white;
      font-family: "Light";
      font-size: $fs-20;
      font-weight: $weight-black;
      text-transform: uppercase;
    }
  }
  .sidemenu-trigger,
  .mobilemenu-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  .sidemenu-trigger {
    &.active,
    &:hover {
      .icon-grid {
        fill: $white;
      }
    }
    .icon-grid {
      pointer-events: none;
      transition: fill 0.3s ease-in-out;
    }
  }
  .mobilemenu-trigger {
    display: none;
  }
  .input-search {
    width: 100%;
  }
  .action-list {
    height: 80px;
    &::before,
    &::after {
      top: 24px;
    }
  }
  .action-item {
    width: 80px;
    height: 80px;
  }
}
.icon-facebook,
.icon-twitter,
.icon-twitch,
.icon-youtube,
.icon-instagram,
.icon-patreon,
.icon-discord,
.icon-google,
.icon-behance,
.icon-deviantart,
.icon-artstation,
.icon-dribbble,
.icon-cross {
  fill: $white;
  width: 12px;
  height: 12px;
}
.icon-logo-vikinger {
  fill: $white;
  width: 42px;
  height: 60px;
  &.small {
    width: 28px;
    height: 40px;
  }
}
.icon-dots {
  fill: $white;
  width: 10px;
  height: 2px;
}
.icon-public,
.icon-private {
  fill: $black;
  width: 20px;
  height: 20px;
}
.icon-comment,
.icon-thumbs-up,
.icon-friend,
.icon-info,
.icon-group,
.icon-marketplace,
.icon-add-friend,
.icon-remove-friend,
.icon-delete,
.icon-send-message,
.icon-settings,
.icon-cross-thin,
.icon-newsfeed,
.icon-overview,
.icon-members,
.icon-badges,
.icon-quests,
.icon-streams,
.icon-events,
.icon-events-monthly,
.icon-events-weekly,
.icon-events-daily,
.icon-pin,
.icon-ticket,
.icon-forums,
.icon-profile,
.icon-timeline,
.icon-photos,
.icon-videos,
.icon-blog-posts,
.icon-forum,
.icon-store,
.icon-share,
.icon-pinned,
.icon-status,
.icon-big-grid-view,
.icon-small-grid-view,
.icon-list-grid-view,
.icon-blog-post,
.icon-poll,
.icon-camera,
.icon-gif,
.icon-tags,
.icon-trophy,
.icon-return,
.icon-clock,
.icon-earnings,
.icon-wallet,
.icon-item,
.icon-revenue {
  fill: $color-icon;
  width: 20px;
  height: 20px;
}
.icon-grid,
.icon-magnifying-glass,
.icon-messages,
.icon-shopping-bag,
.icon-notification,
.icon-join-group,
.icon-leave-group,
.icon-plus,
.icon-login path {
  fill: $white;
  width: 20px;
  height: 20px;
}
.icon-back-arrow {
  width: 14px;
  height: 10px;
}
.icon-small-arrow path {
  fill: $color-icon;
  width: 6px;
  height: 8px;
}
.icon-big-arrow path {
  fill: $black;
  width: 8px;
  height: 12px;
}
.icon-more-dots path {
  fill: $white;
  width: 22px;
  height: 6px;
}
.icon-star path {
  fill: $gray-lighter;
  width: 9px;
  height: 8px;
  &.medium {
    width: 13px;
    height: 12px;
  }
}
.icon-play path {
  fill: $white;
  width: 12px;
  height: 14px;
}
.icon-plus-small,
.icon-minus-small path {
  fill: $black;
  width: 8px;
  height: 8px;
}
.icon-quote path {
  fill: $black;
  width: 32px;
  height: 22px;
}
.icon-check {
  width: 12px;
  height: 9px;
}
.demo-icon path {
  fill: $color-icon-bold;
}
//edits

@media screen and (max-width: 960px) {
  #logcnt {
    display: flex !important;
    margin-top: 30px;
  }
}
