//  FifaTournaments
.fifaMatch {
  display: flex;
  flex-direction: row;
  height: 90px;
  background-color: $color-box-background-alt;
  border-radius: 10px;
}

.fristPlayer {
  width: 40%;
}
.secondPlayer {
  width: 40%;
}
.fifaResult {
  width: 20%;
}
#tourID {
  margin-top: 20px;
}
.playerAvatar {
  margin-top: 27px;
  width: 50px;
  height: 50px;
}
.secondPlayer {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 445px) {
  .playerinfo1 {
    left: -10px;
    text-align: end;
    top: 26px !important;
    position: relative;
  }
  .spMobile {
    border-color: "red";
    width: 115%;
    margin-left: -7.5%;
  }
  .frplayerName {
    font-size: 12px !important;
    position: relative;
  }
  .playerFlag {
    font-size: 10px !important;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  .fifaResult {
    color: white;
    font-weight: bold;
    font-size: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.frplayerName {
  font-size: 15px;
  font-weight: bold;
}
.fifaResult {
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerFlag {
  font-size: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.playerinfo {
  left: 60px;
  top: -50px;
  position: relative;
}
.playerinfo1 {
  left: -10px;
  text-align: end;
  top: 30px;
  position: relative;
}
